<div class="nav_header" xmlns="http://www.w3.org/1999/xhtml">
    <nav>
        <ul>
            <li><a href="{{ path("homepage") }}" title="Télécharger">Home Page</a></li>
            <li><a href="{{ path("historique_index") }}" title="Télécharger">My Performance</a></li>
            <li><a href="{{ path("parcours_index") }}" title="Télécharger">Trek </a></li>
        </ul>
    </nav>
</div>
